
#search-news #news-wrapper #news{
    width:100%;
    height:auto;
    overflow: hidden;
}

#news-wrapper #image{
    height:200px;
    position: relative;
    overflow: hidden;
}

#news image img{
    width:100%;
    height:100%;
}

#news{
    box-shadow: 0 0 1.5px rgba(0,0,0,0.75);
}


#news-wrapper #content{
    padding: 20px;
}

#content p{
    color:rgba(0,0,0,0.75);
}

.bulb{
    border-radius: 10px !important;
    padding:5px 10px !important ;
}